  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="author" content="{{ .Site.Params.author }}">

    <title>{{ .Title }} &middot; {{ .Site.Title }} </title>

    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}">

    <link rel="stylesheet" type='text/css' href="{{ .Site.BaseURL }}css/app.css"/>

  </head>
