<!doctype html>
<html class="no-js" lang="en">

{{ partial "head.html" . }}

  <body>

  {{ partial "header.html" . }}

  <div class="row medium-8 large-7 columns">
    <div class="row align-center" data-equalizer data-equalize-on="medium" id="test-eq">
      <div class="medium-3 columns">
        <div class="callout" data-equalizer-watch>
          <img src="{{ .Site.BaseURL }}images/logo.svg">
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}

  </body>

</html>
